@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
}
.bg-jumbotron {
  background-image: url("../assets/bg-jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}  

.swiper-button-next:hover {
  color: #e0e026; /* Warna saat dihover, ganti sesuai keinginan */
}
.swiper-button-prev:hover {
  color: #e0e026; /* Warna saat dihover, ganti sesuai keinginan */
}
